

.block
{
width: 100%;
height:100vh;
background:url('back.jpg');
background-size:cover;
background-position: center;
background-attachment: fixed;
}
body
{
    border: solid rgb(150, 192, 255);
    background-image: url('back.jpg');
}
.head a img
{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.head h1
{
    color: antiquewhite;
}
.def
{
    padding-top: 8%;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
}
.def p
{
    font-size: 30px;
    color: yellowgreen;
}
.def button
{
    border-color: red;
    border-radius: 45%;
    padding: 10px 20px;
    background-color: rgb(244, 96, 121);
}
.foot
{
text-align: center;
padding-top: 120px;
}