
body
{
	background-color:powderblue;
    border:solid red;
    text-align:center; 
}
h1
{
	color:darkgreen;
    border:dashed green;
}

b
{
	font-size:30px;color:grey;
}
i
{
	font-size:40px;color:red;
}
u
{
	color:yellow;font-size:50px;
}
a
{
	font-size:100px;
}
#f
{
	height: 100px;
	width: 150px;
	
}
#y
{
	height: 60px;
	width: 100px;
	border-radius: 25%;
}